---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/find/tt0foo?api_key=<%= ENV['THEMOVIEDB_API_KEY']
      %>&external_source=imdb_id
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"3c145d69f7e57a8b6c3506741c2f3439"'
      Status:
      - 200 OK
      X-Memc:
      - MISS, STORE
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '21600'
      X-Memc-Key:
      - 7b5083126cc9987c6f2664f5344c989f
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '38'
      X-Ratelimit-Reset:
      - '1489368234'
    body:
      encoding: UTF-8
      string: '{"movie_results":[],"person_results":[],"tv_results":[],"tv_episode_results":[],"tv_season_results":[]}'
  recorded_at: Mon, 13 Mar 2017 01:23:45 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/find/tt0foo?api_key=<THEMOVIEDB_API_KEY>&external_source=imdb_id
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"3c145d69f7e57a8b6c3506741c2f3439"'
      Status:
      - 200 OK
      X-Memc:
      - MISS, STORE
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '21600'
      X-Memc-Key:
      - 7b5083126cc9987c6f2664f5344c989f
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '39'
      X-Ratelimit-Reset:
      - '1489772717'
    body:
      encoding: UTF-8
      string: '{"movie_results":[],"person_results":[],"tv_results":[],"tv_episode_results":[],"tv_season_results":[]}'
  recorded_at: Fri, 17 Mar 2017 17:45:08 GMT
recorded_with: VCR 3.0.3
